<div class="wrapper">
    <form class="passForm" [formGroup]="passStrength">
        <input [formControl]="password" [type]="vision?'type':'password'" formControlName="password" name="password"
            class="password">
    </form>

    <span class="material-symbols-outlined" (click)="switchVision()">
        <ng-container *ngIf="vision; else elseTemplate">
            visibility
        </ng-container>
        <ng-template #elseTemplate>
            visibility_off
        </ng-template>
    </span>
    <div class="sections">
        <div class="section" [style.background-color]="section1"></div>
        <div class="section" [style.background-color]="section2"></div>
        <div class="section" [style.background-color]="section3"></div>
    </div>
</div>